[submodule "NSUT-CanteenManagement"]
	path = NSUT-CanteenManagement
	url = https://github.com/TechSubham/NSUT-CanteenManagement
[submodule "backend"]
	path = backend
	url = https://github.com/Nipun-Yv/NSUTCanteenBackend
